@charset "utf-8";
*{margin: 0px;padding: 0px;box-sizing:border-box;}
/*===start body===*/
body{background-color:rgb(190,195,199);}
/*===end body===*/
/*===start section===*/
body section{width: 600px;height:600px;position: fixed;top:50%;left: 50%;margin-top:-300px;margin-left: -300px;display:flex;flex-direction: column;justify-content: space-between;}
body section .btn{width: 100%;height:90px;text-align: center;padding: 5px;display: flex;align-items: center;justify-content:center;background-color:rgb(40,40,40);position: relative;overflow: hidden;}
body section .btn:first-child{background-color:rgb(232,76,61);}
body section .btn:last-child{background-color:rgb(232,76,61);}
body section .btn h1{color:#fff;font-size: 30px;}
body section .btn .border{width: 600px;height: 10px;background-color:#fff;position: absolute;bottom: 0px;left: -600px;animation-name: move_border;animation-duration: 7s;animation-iteration-count: infinite;}
body section .btn:nth-child(1) .border{animation-delay:7s;}
body section .btn:nth-child(2) .border{animation-delay:6s;}
body section .btn:nth-child(3) .border{animation-delay:5s;}
body section .btn:nth-child(4) .border{animation-delay:4s;}
body section .btn:nth-child(5) .border{animation-delay:3s;}
body section .btn:nth-child(6) .border{animation-delay:0s;}
    /*start keyframes*/
@keyframes move_border{
    0%{position: absolute;bottom: 0px;left: -600px;}
    100%{position: absolute;bottom: 0px;left: 600px;}
}
    /*end keyframes*/
/*===end section===*/